<!DOCTYPE html>
%html(lang="en")
  %head

    %title constack

    / jquery
    %script(src="jquery.js")

    / twitter bootstrap
    %meta(name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

    / our own JS
    %script(src="constack.js")

    :css
      .hideme { display: none; }
      .showing { font-weight: bold; }
      p, ul { color: #999; text-align: justify; }
      p.center-text { text-align: center; }

  %body

    / bootstrap's top-level container
    %div.container

      / to use "center" column to display stack
      %div.col-xs-12.col-md-6.col-md-offset-3

        %h2 constack

        / text field and "stack push" button
        %div.input-group
          %input.form-control(type="text" placeholder="New Topic")
            %span.input-group-btn
              %button#push.btn.btn-default
                %span(class="glyphicon glyphicon-download-alt")
                Push

        / the contents of the stack
        %hr
        %div#topics

          / actual stack elements would go here

          / shown only when stack is empty
          %a#empty-stack.topic.list-group-item.disabled no topics yet

          / the prototype used to generate new stack elements
          %a#ptype.topic.list-group-item.hideme

        / all "hide" links in this section are hidden when text isn't displayed
        %div#help-links
          %br
          %p.center-text
            %a#view-full-help(href="#") Help
            &nbsp;&mdash;&nbsp;
            %a#view-shortcuts(href="#") Keyboard shortcuts
            &nbsp;&mdash;&nbsp;
            %a(href="http://github.com/qguv/constack") Source (Github)

        / basic about/help/overview prose
        %div#full-help.hideme
          %br
          %p
            Constack keeps track of your conversation topics as a
            %a(href="https://en.wikipedia.org/wiki/Stack_%28abstract_data_type%29") stack.
            Type to push elements; click the stack to pop. All data is stored
            locally, so
            %strong only you can see it.
            All topics are
            %strong erased entirely
            when you
            %a(href="#" onclick="window.location.reload(true);") reload the page.

        / help text about keyboard shortcuts
        %div#shortcuts.hideme
          %br
          %p
            Put your cursor in the text area and press:
            %ul
              %li
                %strong Return
                (with text entered) to push
              %li
                %strong Delete
                (with no text entered) to pop
