<!DOCTYPE html>
%html(lang="en")
  %head

    %title constack

    / jquery
    %script(src="jquery.js")

    / twitter bootstrap
    %meta(name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

    / our own JS
    %script(src="constack.js")

    :css
      .hideme { display: none; }
      p { color: #999; text-align: justify; }

  %body
    %div.container
      %div.col-xs-12.col-md-6.col-md-offset-3

        %h2 constack

        %div.input-group
          %input.form-control(type="text" placeholder="New Topic")
            %span.input-group-btn
              %button#push.btn.btn-default
                %span(class="glyphicon glyphicon-download-alt")
                Push

        %hr
        %div#topics
          / these two are always in the DOM
          %a#empty-stack.topic.list-group-item.disabled no topics yet
          %a#ptype.topic.list-group-item.hideme

        %br
        %p#tutor
          Constack keeps track of your conversation topics as a
          %a(href="https://en.wikipedia.org/wiki/Stack_%28abstract_data_type%29") stack.
          Push elements by typing and pressing return or clicking push. Pop the
          top element by pressing delete when no text has been entered or by
          clicking the stack.
          %strong
            All data is stored locally, so only you can see it. All topics are erased entirely when you
            %a(href="#" onclick="window.location.reload(true);") reload the page.
